@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: $direction;
}

header {
  @include flexCenter(column);
  background: lightblue;
  color: $textColor;
  height:100vh;
  button{
    background:$primaryBtn;
    padding: $globalpadding;
    &:hover{
      color:white;
      cursor: pointer;
      background: $primaryBtnHover;
    }
    &::after{
      content:" hello"
    }
  }
}