header, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: lightblue;
  color: #4d4b4b;
  height: 100vh;
}

header button, .contact button {
  background: #a99bf0;
  padding: 20px;
}

header button:hover, .contact button:hover {
  color: white;
  cursor: pointer;
  background: #9285d5;
}

header button::after, .contact button::after {
  content: " hello";
}

h1 {
  display: block;
}

.contact {
  background: salmon;
}
/*# sourceMappingURL=style.css.map */