$primaryBtn : rgb(169, 155, 240);
$primaryBtnHover: rgb(146, 133, 213);
$globalpadding: 20px;
$textColor:rgb(77, 75, 75);

@import './variables';
@import './header';

h1{
  display: block;
}
.contact{
  @extend header; // will inherit all the styles from header
  // override some styles
  background: salmon;
}
